body
{
	background-color: #36393e;
	color:#bebebe;
	font-family:verdana;
}

#navbar
{
	background-color:#1e2124;
	position: absolute;
	height: 30px;
	width: 100%;
	left: 0%;
	top: 0%;
}

#navtxt
{
	position: absolute;
	top: 4px;
}

#bgtxt
{
	text-shadow: 3px 3px 6px black;
}

#logo
{
	position: absolute;
	top: -1px;
	left: -2px;
	height: 24px;
}

#nav1
{
	position: absolute;
	left: 24px;
	width: 250px;
}

#date
{
	position: absolute;
	left: 10px;
	top: 40px;
}

a.one:link {
color: #0080bf;
text-decoration: none
}
a.one:visited {
color: #0080bf;
text-decoration: none
}
a.one:hover {
color: #0099e5;
}
a.one:active {
color: white;
text-decoration: none
}
a.two:link {
color: #acb9bf;
text-decoration: none
}
a.two:visited {
color: #acb9bf;
text-decoration: none
}
a.two:hover {
color: #5cb8e5;
}
a.two:active {
color: white;
text-decoration: none
}
a.three:link {
color: black;
text-decoration: none;
background-color: black;
}
a.three:visited {
color: black;
text-decoration: none
}
a.three:hover {
color: #acb9bf;
}
a.three:active {
color: white;
text-decoration: none
}
